.foorFooter3{
		background-color: #eb2e34;
}
.login{
	width: 833px;
	height: 500px;
	margin: 0 auto;

	/*background-color: #888;*/
	background-image: url('../img/login.jpg');
}
.loginForm{
	width: 400px;
	color: #fff;
	float: right;

	margin-top: 150px;
	margin-right: -10px;
}
.loginForm input[name]{
	/*width: 200px;*/
}
.loginForm p{
	line-height: 40px;
}
.loginForm input[type=reset]{

	background-color: #fff;
	border:none;
	border-radius: 1px 1px 1px 1px gray;
	box-shadow: 0 0 2px 2px #888;
	width: 60px;
	height: 30px;
	margin-top: 15px;
	margin-left: 15px;

}